 
.main{
    text-align: center;  
    background-color: #fff;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    margin: auto;           
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 22%; 
}

 
.animated {
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.zoomIn {
   -webkit-animation-name: zoomIn;
    animation-name: zoomIn
}

@keyframes zoomIn {
        0% {
            opacity: 0;
            -webkit-transform: scale3d(.3,.3,.3);
            transform: scale3d(.3,.3,.3)
        }

        50% {
            opacity: 1
          }
}

 
[v-cloak] {
    display: none;
}